body{
    background-color: #ffffe5;
}
.todo
{
    width: 400px;
    margin:50px auto ;
    border-radius: 30px;
    border: 1px solid #cfd8cf ;
    box-shadow: 0 0 10px #ccc;
}
.todo-header
{
    background-color:#3f94d6;
    color: #ffffff;
    border-radius: 30px 30px 0 0;
}
.todo-header h2{
    margin: 0px;
    text-align: center;
    line-height: 80px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
.tasks
{
    margin: 0;
    padding: 0;
    
}
.task{
  list-style: none;
  border: 1px solid #cfd8cf ;
  height: 50px;
}
.addfield
{
    width: 80%;
    height: 50px;
    padding: 0 15px; 
    box-sizing: border-box;
    float: left;
    outline: none;
    border: 0;
    font-size: 16px;
    
}
.task:last-child 
{
  border-radius: 0 0 30px 30px;
}
.task:last-child .col-1
{
  border-radius: 0 0 0 30px;
}
.task:last-child .col-3
{
  border-radius: 0 0 30px 0;
}
.col-3:hover{
    
    background-color: #90caf9;
    cursor: pointer;
}
.addblock
{
    height: 50px;
    border: 1px solid #cfd8cf ;
    box-shadow: 0 0 10px #ccc;
}
.addbutton
{
    border: 0;
    padding: 0;
    color: #3f94d6;
    font-size: 40px;
    font-weight: bold;
    outline: none;

}
.col-1{
    background-color: #bbdefb;
    float: left;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-2{
    background-color: #ffff;
    float: left;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.col-3{
    background-color: #bbdefb;
    float: left;
    width: 20%;
    height: 100%;
    

}
.tasks-remove
{
    background-image: url(../images/trash.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;

}
.tasks-checked{
    text-decoration: line-through;
}